@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
  --input-bg-clr: #EBECFE;
  --input-focus-clr: #d0d2fe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}


.btn {
  background: var(--accent-clr);
  color: var(--text-clr);
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.btn:hover {
  background: var(--hover-clr);
}

.btn img {
  width: 20px;
  margin-left: 10px;
}

.form-container {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.contact-col {
  flex-basis: 48%;
  color: var(--text-clr);
}

.contact-col h3 {
  color: var(--text-clr);
  font-weight: 500;
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-col h3 img {
  width: 35px;
  margin-left: 10px;
}

.contact-col p {
  max-width: 450px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.contact-col ul li {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.contact-col ul li img {
  width: 25px;
  margin-right: 10px;
}

.contact form input,
.contact form textarea {
  display: block;
  width: 100%;
  background: var(--input-bg-clr);
  padding: 20px;
  border: 0;
  border-radius: 10px;
  outline: none;
  margin-bottom: 50px;
  margin-top: 20px;
  resize: none;
  transition: background 0.3s ease, border-color 0.3s ease;
  height: 60px;
}

.contact form input:focus,
.contact form textarea:focus {
  background: var(--input-focus-clr);
  border: 1px solid var(--accent-clr);
}

.contact-col span {
  display: block;
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: var(--text-clr);
  line-height: 1;
  cursor: pointer;
}

@media (max-width: 650px) {
  .contact {
    flex-direction: column;
    gap: 40px;
  }

  .contact-col {
    flex-basis: 100%;
  }
}